---
import "../styles/globals.css";
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import WebSite from "../components/websiteIcon";
import "../styles/index.css";
const tagList = [
  {
    id: "1",
    name: "AI工具",
    icon: "ai",
    children: [
      {
        id: "sz1JYgRbnT4-5-VihH8GB6203",
        url: "https://chat.openai.com/chat",
        name: "chatGPT",
        src: "",
        type: "text",
        iconText: "openai",
        backgroundColor: "#f9620e",
        view: 133,
      },
      {
        backgroundColor: "#ee3b3b",
        id: "07HeCp5-bzgBiS8zsqRo84418",
        name: "Forefront",
        src: "",
        type: "text",
        url: "https://chat.forefront.ai/",
        iconText: "For",
        view: 139,
      },
      {
        backgroundColor: "#f01313",
        id: "Aprp7MaNrE_HEQmGkY_TP3676",
        name: "糖果梦AI",
        src: "",
        type: "text",
        url: "https://bot.tgmeng.com/home",
        iconText: "糖果梦",
        view: 20,
      },
      {
        id: "PWP6eioTGqNFg7_RmYwO36466",
        url: "https://chat18.aichatos.xyz/",
        name: "chat18",
        src: "",
        type: "text",
        iconText: "chat18",
        backgroundColor: "",
        view: 4,
      },
      {
        id:"cxzcvxzvxdsad",
        url: "https://poe.com/",
        name: "poe",
        src: "",
        type: "text",
        iconText: "poe",
        backgroundColor: "rgb(131,0,179)",
        view: 4,
      },
      {
        id: "xasdopijsaldkm;sa",
        url: "https://kimi.moonshot.cn/",
        name: "kimi",
        src: "",
        type: "text",
        iconText: "kimi",
        backgroundColor: "rgb(62,179,0)",
        view: 4,
      }
    ],
  },
  {
    id: "2",
    name: "日常",
    icon: "home",
    children: [
      {
        id: "vwLnQvDMr",
        url: "http://www.bilibili.com/",
        type: "icon",
        name: "哔哩哔哩",
        src: "https://files.codelife.cc/website/bilibili2.svg",
        view: 834,
      },
      {
        id: "7ISK2ccmA2sTHDjgGq4IX",
        url: "https://pan.baidu.com/",
        type: "icon",
        name: "百度云",
        src: "https://files.codelife.cc/website/pan-baidu.svg",
        view: 26,
      },
      {
        id: "tqu1Cbxtw",
        url: "https://www.zhihu.com/",
        type: "icon",
        name: "知乎",
        src: "https://files.codelife.cc/website/zhihu.svg",
        view: 121,
      },
      {
        id: "oijoijkl",
        url: "https://www.ziyedm.com/",
        name: "子夜动漫",
        src: "https://www.ziyedm.com/template/pianku/image/logo.svg",
      },
      {
        id: "fdfxzcavdz",
        url: "http://www.549.tv/",
        name: "影视森林",
        color: "rgb(71, 95, 157)"
      },
      {
        url: "https://jobincorner.com/",
        backgroundColor: 'rgb(147, 38, 233)',
        name: "job",
        id: "lkjnv,xlzlpdsad",
      },
    ],
  },
  // 论坛与团队
  {
    id: "3",
    name: "论坛与团队",
    icon: "navigation",
    children: [
      {
        id: "3SgwrTAGh9Yi_onqATqNx6334",
        url: "https://www.52pojie.cn/forum.php?mod=guide&view=newthread",
        name: "吾爱破解",
        src: "https://files.codelife.cc/icons/52pojie.svg",
        type: "icon",
        iconText: "吾爱破解",
        backgroundColor: "#e50d2e",
        view: 7,
      },
      {
        id: "xdojiojoj",
        url: "https://juejin.cn/",
        name: "掘金",
        src: "https://files.codelife.cc/website/juejin.svg",
      },
      {
        id: "3yJtuv0EXRbDi0zvGCHh87397",
        url: "https://v2ex.com/",
        name: "V2EX",
        src: "",
        type: "text",
        iconText: "V2E",
        backgroundColor: "#222222",
        view: 9,
      },
      {
        id: "noml,sqamP'FDALK",
        url: "https://www.ahhhhfs.com/funny_site/github%e9%a1%b9%e7%9b%ae/",
        name: "aff分享",
        src: "",
        type: "text",
        iconText: "aff",
        backgroundColor: "#f9620e",
        description: "github项目分享",
      },
      {
        id: "eFuHpgcovpRCD3X4L6dFH8462",
        url: "https://iui.su/",
        name: "不死鸟",
        src: "https://iui.su/favicon.ico",
        type: "icon",
        iconText: "磁力搜",
        backgroundColor: "#7dac68",
        view: 1,
      },
      {
        id: "PnaNzo7muY1gcyzzGnho60526",
        url: "https://developer.chrome.com/blog/",
        name: "谷歌blog",
        src: "",
        type: "text",
        iconText: "blog",
        backgroundColor: "#1681ff",
      },
      {
        id: "qTE77KKCddEZmjXV25x5d1206",
        url: "https://search.chongbuluo.com/",
        name: "虫部落",
        src: "https://files.codelife.cc/icons/60b9eb19ae5a9ba4024b3a3d.png",
        type: "icon",
        iconText: "快搜",
        backgroundColor: "#60bc44",
        view: 1,
      },
    ],
  },
  // 前端工具与资源
  {
    id: "4",
    name: "前端工具与资源",
    icon: "home",
    children: [
      {
        id: "vpg1uDY58YBH-PQYRuD6-6358",
        url: "https://www.quasar-cn.cn/",
        name: "Quasar",
        src: "https://cdn.quasar.dev/logo-v2/favicon/safari-pinned-tab.svg",
        type: "icon",
        iconText: "Quasar",
        backgroundColor: "#4b3c36",
      },
      {
        backgroundColor: "#13ae67",
        iconText: "常用正则",
        id: "gpickp3tZP8NBzKrpnKc65798",
        name: "常用正则",
        src: "",
        type: "text",
        url: "https://any86.github.io/any-rule/",
        view: 4,
      },
      {
        id: "eYWj019lAw_cx7eFflQvG7721",
        url: "https://gaojiaxiang.imgbb.com/",
        name: "imgbb图库",
        src: "",
        type: "text",
        iconText: "imgbb",
        backgroundColor: "#7dac68",
        view: 14,
      },
      {
        id: "iSmVoVBMNSdt1WySE_aYN0992",
        url: "https://github.com/bradtraversy/design-resources-for-developers#icons",
        name: "前端资源",
        src: "https://files.codelife.cc/icons/github.svg",
        type: "icon",
        iconText: "Git",
        backgroundColor: "#000",
        view: 12,
      },
      {
        id: "PrRxlUP-QNM6850qX6C527774",
        url: "https://ui.shadcn.com/",
        name: "R-shadcn",
        src: "https://ui.shadcn.com/favicon.ico",
        type: "icon",
        iconText: "Acc",
        backgroundColor: "#ee3b3b",
        view: 3,
      },
      {
        id: "sqM0V3LV-plDFOYqvkPUi5516",
        url: "https://daisyui.com",
        name: "R-daisyUI",
        src: "https://daisyui.com/images/daisyui-logo/daisyui-logomark.svg",
        type: "icon",
        iconText: "dai",
        backgroundColor: "#fc4548",
      },
      {
        id: "oilfks;alkdsa",
        url: "https://ui-libs.vercel.app/",
        name: "V-UI库",
        src: "https://ui-libs.vercel.app/favicon/palette.svg",
        description: "vue组件库对比",
      },
      {
        id: "-i3DTiHcZIZGWgZ03dgmS1972",
        url: "https://www.shadcn-vue.com/",
        name: "V-Shadcn",
        src: "https://www.shadcn-vue.com/favicon.ico",
        type: "icon",
        iconText: "Sha",
        backgroundColor: "#9b59b6",
      },

      {
        id: "aicRCXhRn8NBrzrAQ2G5L2405",
        url: "https://www.naiveui.com/zh-CN/light/docs/installation",
        name: "V-Naive",
        src: "https://www.naiveui.com/assets/naivelogo-XQ1U1Js8.svg",
        type: "icon",
        iconText: "Nai",
        backgroundColor: "#f01313",
      },
      {
        id: "TOggZ7Z-xr2niFf-nkKe_8634",
        url: "https://primevue.org/vite",
        name: "V-PrimeVue",
        src: "https://primevue.org/favicon.ico",
        type: "icon",
        iconText: "Pri",
        backgroundColor: "#fbbe23",
      },
      {
        id: "02nw4UxVyICSdtRfA7YPQ5734",
        url: "https://bytemd.js.org/",
        name: "V-编辑器",
        src: "",
        type: "text",
        iconText: "MD",
        backgroundColor: "",
      },
      {
        id: "V-_LzSfOQntWs8HHW2NSO7855",
        url: "https://vxetable.cn/v3/#/table/start/install",
        name: "V-table v3",
        src: "https://vxetable.cn/v3/logo.png",
        type: "icon",
        iconText: "vxe",
        backgroundColor: "#4b3c36",
      },
      {
        id: "1lIpjTtswwbPJotftmgJs2775",
        url: "https://caniuse.com/",
        name: "Can I use",
        src: "https://files.codelife.cc/icons/5d35587519c5b849159b9201.png",
        type: "icon",
        iconText: "Can",
        backgroundColor: "#eae0cd",
        view: 1,
      },
      {
        id: "oXne8Xl9qw_yGA2ziZJlZ1856",
        url: "https://github.com/weijunext/indie-hacker-tools",
        name: "海外技术栈",
        src: "https://files.codelife.cc/icons/github.svg",
        type: "icon",
        iconText: "Git",
        backgroundColor: "#000",
        view: 2,
      },
      {
        id: "Xlk1aAQynaemnkFbVGANc7523",
        url: "https://www.leaferjs.com/ui/",
        name: "leaferjs",
        src: "",
        type: "text",
        iconText: "leafer",
        backgroundColor: "",
      },
      {
        id: "pGbSVPiAs8Zc-oOp1jKOv3468",
        url: "https://excalidraw.com/",
        name: "白板",
        src: "https://excalidraw.com/apple-touch-icon.png",
        type: "icon",
        iconText: "Exc",
        backgroundColor: "#fbbe23",
        view: 2,
      },
      {
        id: "xCzcZzoSAsQinMKyGvk718953",
        url: "https://iknowwhatyoudownload.com/",
        name: "T-download",
        src: "https://iknowwhatyoudownload.com/assets/img/utorrent2.png",
        type: "icon",
        iconText: "Tor",
        backgroundColor: "#9326e9",
      },
      {
        id: "X940oLNGvRHFRj6l_tQZR8778",
        url: "https://httpsok.com/console/dashboard",
        name: "SSL监控",
        src: "https://httpsok.com/favicon.ico",
        type: "icon",
        iconText: "htt",
        backgroundColor: "#c8ac70",
        view: 1,
      },
      {
        id: "LtVV3GZKNAZ2cm4t0Zkuo0968",
        url: "https://squoosh.app/",
        name: "图片压缩",
        src: "https://files.codelife.cc/icons/squoosh.svg",
        type: "icon",
        iconText: "谷歌压",
        backgroundColor: "#4a494a",
      },
      {
        id: "MXxW3qP6rPhUeZKEdCL-a9058",
        url: "https://www.nazhumi.com/",
        name: "域名比价",
        src: "https://www.nazhumi.com/favicon.ico",
        type: "icon",
        iconText: "哪煮米",
        backgroundColor: "#ee3b3b",
        view: 1,
      },
      {
        id: "5WMvxBTtyciBa-z2Ojjqf1204",
        url: "https://namebeta.com/",
        name: "域名比价",
        src: "https://namebeta.com/favicon.ico",
        type: "icon",
        iconText: "Nam",
        backgroundColor: "#9326e9",
        view: 1,
      },
    ],
  },
  {
    id: "5",
    name: "样式与设计",
    icon: "navigation",
    children: [
      {
        url: "https://www.awwwards.com/websites/sites_of_the_day/",
        name: "awwwards",
        id: "cxzpdsad",
        iconText: "awwwards",
      },
      {
        url: "https://gsap.com/",
        name: "gsap",
        id: "gsap",
        iconText: "gsap",
      },
      {
        url: "https://airbnb.io/lottie/#/",
        name: "lottie",
        id: "lottie",
        iconText: "lottie",
      },
      {
        url: "https://brm.io/matter-js/docs/",
        name: "matter-js",
        id: "matter-js",
        iconText: "matterjs",
        description: "2d物理引擎",
      },
      {
        url: "https://www.seeseed.com/",
        src: "https://www.seeseed.com/favicon.png",
        name: "seeseed",
        id: "xaasfafscxvsd",
      },
      {
        url: "https://cocomaterial.com/",
        iconText: "coco",
        backgroundColor: '#1890ff',
        name: "手绘icon",
        id: "xasfzxcvzxcv",
      },
      {
        backgroundColor: "#f9620e",
        iconText: "CSS",
        id: "fgpl,.,;',vcxfsdaf",
        name: "CSS",
        src: "",
        type: "text",
        url: "https://chokcoco.github.io/CSS-Inspiration/#/",
        view: 4,
      },
      {
        backgroundColor: "#ee3b3b",
        iconText: "box-s",
        id: "aVnV8H7VVZX1vAb6l5ZsQ8873",
        name: "boxShadow",
        src: "",
        type: "text",
        url: "https://getcssscan.com/css-box-shadow-examples?ref=producthunt",
        view: 4,
      },
      {
        backgroundColor: "#1890ff",
        iconText: "前端知识",
        id: "jmb6gSDYmiO3SAfzvqBMZ",
        name: "前端布局篇",
        src: "",
        type: "text",
        url: "https://mp.weixin.qq.com/s/TX9ukiCZgo_ji_4LnsAWCA",
        view: 5,
      },
      {
        id: "IMYdxG0o2VrZK411TYfZ54735",
        url: "https://css-loaders.com/infinity/",
        name: "loader动画",
        src: "",
        type: "text",
        iconText: "loader",
        backgroundColor: "#f9620e",
      },
      {
        id:"dvlm;m'-pp",
        url: "https://navnav.co/",
        name: "navnav",
        src: "",
        type: "text",
        iconText: "nav",
        backgroundColor: "#f9620e",
      }
    ],
  },
  {
    id: "6",
    name: "框架学习",
    icon: "navigation",
    children: [
      {
        backgroundColor: "#372128",
        iconText: "开发者客栈",
        id: "AiyUFEVhVTuT4KOyHKdSL8088",
        name: "开发者客栈",
        description: "前后端面试题大全",
        src: "",
        type: "text",
        url: "https://www.developers.pub/wiki",
        size: "1x2",
        view: 10,
      },
      {
        backgroundColor: "#0071c0",
        iconText: "前端体系",
        id: "z8Iw1WguKvFPo-qSO1eEu8613",
        name: "web体系",
        description: "web全栈体系-进阶篇",
        src: "",
        type: "text",
        url: "https://hejialianghe.gitee.io/guide/#_1-%E5%89%8D%E8%A8%80-preface",
        view: 9,
      },
      {
        backgroundColor: "#023373",
        id: "ax0zYXWbOqcY4Hrn73jew0237",
        name: "后端学习",
        description: "柏码-免费的后端知识库",
        src: "",
        type: "text",
        url: "https://itbaima.net/",
        iconText: "后端学习",
        view: 4,
      },
      {
        backgroundColor: "#13ae67",
        id: "2cKuy-_PkRbKuePnXt3qn4304",
        name: "框架语法对比",
        description:"不同前端框架语法对比",
        src: "",
        type: "text",
        url: "https://component-party.jason-liang.com/",
        iconText: "多框架对比",
        view: 3,
        size: "1x2",
      },
      {
        id: "YIeNRWhMUjEG1GOqFZRVl5237",
        url: "https://wxt.dev",
        name: "浏览器插件",
        description: "浏览器插件开发模板",
        src: "",
        type: "text",
        iconText: "wxt",
        backgroundColor: "#276ce6",
        view: 2,
      },
      {
        id: "YIeNRWhMUjEG1GOqFZRVl5237",
        url: "https://extension.js.org/",
        name: "浏览器插件",
        description: "浏览器插件开发模板",
        src: "",
        type: "text",
        iconText: "ext",
        backgroundColor: "#276ce6",
        view: 2,
      },
      {
        id: "-7qCgcH3eEJYdAXmrqUj14504",
        url: "https://lhammer.cn/You-need-to-know-css/#/zh-cn/translucent-borders",
        name: "CSS细节",
        description: "css必知细节",
        src: "",
        type: "text",
        iconText: "CSS",
        backgroundColor: "#fbbe23",
      },
      {
        id: "5N9kZMVnuuBwfdFEos3eP9713",
        url: "https://defensivecss.dev/tips/",
        name: "css易错",
        src: "https://defensivecss.dev/img/favicon.png",
        type: "icon",
        iconText: "Def",
        backgroundColor: "#c82c34",
        view: 1,
      },
      {
        backgroundColor: "#33c5c5",
        iconText: "js手册",
        id: "pGfPqlBgzgDjdJthcmoaZ1446",
        name: "js手册",
        src: "",
        type: "text",
        url: "https://zh.javascript.info/",
        view: 7,
      },
      {
        type: "icon",
        id: "Ab0aZIZz3b3yuStGinVS04975",
        url: "https://visualgo.net/zh",
        name: "算法可视化",
        src: "https://files.codelife.cc/website/5b8e32bc511b0476d9cd5563.png",
        iconText: "Vis",
        backgroundColor: "#f1c40f",
        view: 2,
      },
      {
        id: "天气热我去饿我去饿我去",
        url: "https://react.iamkasong.com/",
        name: "React技术揭秘",
        src: "https://react.iamkasong.com/favicon.ico",
        type: "icon",
        iconText: "React",
        backgroundColor: "#61dafb",
      },
    ],
  },
  {
    id: "7",
    name: "移动端",
    icon: "navigation",
    children: [
      {
        id: "94ANnSiv3t7HWi-VYsHrq2423",
        url: "https://jin-yufeng.gitee.io/mp-html/#/",
        name: "W-富文本",
        description: "小程序富文本编辑器",
        src: "",
        type: "text",
        iconText: "富文本",
        backgroundColor: "#7dac68",
        view: 2,
      },
      {
        id: "WrZ1NQCPFFM4cOSzH7bhx5338",
        url: "https://qdpz.zhoukaiwen.com/",
        name: "移动端模板",
        src: "https://qdpz.zhoukaiwen.com/logo01.png",
        type: "icon",
        iconText: "前端铺",
        backgroundColor: "#276ce6",
      },
    ],
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.svg" />
    <title>Josh doc</title>
  </head>
  <body>
    <StarlightPage
      frontmatter={{ title: "前端导航", tableOfContents: true }}
      hasSidebar={false}
      headings={[
        { depth: 2, text: "AI工具", slug: "ai工具" },
        { depth: 2, text: "日常", slug: "日常" },
        { depth: 2, text: "论坛与团队", slug: "论坛与团队" },
        { depth: 2, text: "前端工具与资源", slug: "前端工具与资源" },
        { depth: 2, text: "样式与设计", slug: "样式与设计" },
        { depth: 2, text: "框架学习", slug: "框架学习" },
        { depth: 2, text: "移动端与小程序", slug: "移动端与小程序" },
      ]}
    >
      {
        tagList &&
          tagList.map((item) => (
            <h4 id={item.name} style={{marginTop: '1rem'}}>{item.name}</h3>
            <WebSite tag={item.name} defaultList={item.children} client:load />
          ))
      }
    </StarlightPage>
  </body>
</html>

<script>
  document.addEventListener("contextmenu", (e) => {
    e.preventDefault();
  });
</script>
